* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #9ea0a1;
}

.container-md {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #b7d9b1;
    color: #fdf4e3;
}

header h1 {
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;

}

.header nav ul li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
}

a {
    color: #fdf4e1;
    text-decoration: none;
    padding-right: 25px;
}

p {
    font-size: 16px;
}

.landingImage {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/roadLessTraveled.png");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.neverCease,
.work,
.projects {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gills Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9ea0a1;
    color: #fdf4e1;
}

.h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.neverCease img,
.work img,
.projects img {
    max-height: 100px;
}

#project1 img {
    max-height: 120px;
}

#project2 img,
#project3 img {
    max-height: 80px;
}

.contact {
    position: sticky;
    right: 0px;
    bottom: 0px;
    margin: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b7d9b1;
}

.contactEmail,
.contactPhone,
.contactGitHub,
.contactBlurb {
    margin-bottom: 32px;
    color: black;
}

.contactEmail h3,
.contactPhone h3,
.contactGitHub h3,
.contactPhone h4 {
    margin-bottom: 10px;
    text-align: center;
}

.contactEmail img,
.contactPhone img,
.contactGitHub img,
.contactBlurb img {
    display: block;
    position: relative;
    margin: 10px auto;
    max-width: 75px;
    max-height: 75px;
}

.footer {
    padding: 30px;
    margin-top: 30px;
    color: #b7d9b1;
    background-color: #9ea0a1;
    clear: both;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
}

.footer h2 {
    font-size: 20px;
}